{% extends "base.html" %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<style>
    .hidden {
        display:none;
    }
</style>
<button id="edit-details">Edit Details</button>

<h2>{{ user.fullname }}'s Account</h2>
<p><b>Full Name:</b> {{ user.fullname }}
    <input type="text" id="change-fullname" class="hidden" placeholder="New Fullname">
</p>

<p><b>Username:</b> {{ user.login.username }}
    <input type="text" id="change-username" class="hidden" placeholder="New Username">
</p>

<p><b>Role:</b> {{ user.role.name }}
    <select id="change-role" class="hidden">
        <option></option>
        {% for role in roles %}
        <option>{{ role.name }}</option>
        {% endfor %}
    </select>
</p>

<p><b>Phone Number:</b> {{ user.phone }}
    <input type="text" id="change-phone" class="hidden" placeholder="New Phone Number">
</p>

<p><b>Email:</b> {% if user.email %}{{ user.email }}{% else %}N/A{% endif%}
    <input type="text" id="change-email" class="hidden" placeholder="New Email">
</p>

<p><b>Age:</b> {{ user.get_age() }}, <b>Birthday:</b> {{ user.get_birthday() }}
    <input type="date" id="change-birthday" class="hidden" placeholder="New Birthdate">
</p>
<p><b>Date Created:</b> {{ user.get_date_created() }}</p>

<button id="save-changes" class="hidden">Save Changes</button>
<button id="cancel-changes" class="hidden">Cancel</button>
{% if current_user.id != user.id %}
<button id="delete-account">Delete Account</button>
{% endif %}

<script>
    $('#edit-details').on('click', function(){
        $(this).addClass('hidden')
        $("#change-fullname").removeClass('hidden')
        $("#change-username").removeClass('hidden')
        $("#change-role").removeClass('hidden')
        $("#change-phone").removeClass('hidden')
        $("#change-email").removeClass('hidden')
        $("#change-birthday").removeClass('hidden')
        $("#save-changes").removeClass('hidden')
        $("#cancel-changes").removeClass('hidden')
    })

    $("#save-changes").on('click', function(){
        fullname = $('#change-fullname').val()
        username = $('#change-username').val()
        role = $('#change-role').val()
        phone = $('#change-phone').val()
        email = $('#change-email').val()
        birthday = $('#change-birthday').val()

        if (confirm('Are you sure?')){
            var xml = new XMLHttpRequest()
            xml.open("POST", "{{ url_for('account_changes', user_id=user.id) }}", true)
            xml.setRequestHeader("Content-type","application/x-www-form-urlencoded");

            // Send changes
            changes = {
                "fullname" : fullname,
                "username" : username,
                "role" : role,
                "phone" : phone,
                "email" : email,
                "birthday" : birthday
            }
            xml.send(JSON.stringify(changes))

            // If successful
            xml.onload = function(){
                if (this.responseText == "success"){

                    // Reset everything
                    $("#change-fullname").val('')
                    $("#change-username").val('')
                    $("#change-role").val('')
                    $("#change-phone").val('')
                    $("#change-email").val('')
                    $("#change-birthday").val('')

                    // Inform the user
                    alert("Changes Successful")

                    // Refresh the page
                    location.reload()
                }else{
                    if (this.responseText){
                        alert(this.responseText)
                    }else{
                        alert("Changes Failed")
                    }
                }
            }
        }else{
            return
        }
    })

    $("#cancel-changes").on('click', function(){
        $("#change-fullname").val('')
        $("#change-username").val('')
        $("#change-role").val('')
        $("#change-phone").val('')
        $("#change-email").val('')
        $("#change-birthday").val('')

        $(this).addClass('hidden')
        $("#change-fullname").addClass('hidden')
        $("#change-username").addClass('hidden')
        $("#change-role").addClass('hidden')
        $("#change-phone").addClass('hidden')
        $("#change-email").addClass('hidden')
        $("#change-birthday").addClass('hidden')
        $("#save-changes").addClass('hidden')
        $("#edit-details").removeClass('hidden')
    })

    $("#delete-account").on('click', function(){
        if (confirm("Are you sure?")){
            window.location = "{{ url_for('delete_account', user_id=user.id) }}"
        }else{
            return
        }
    })
</script>

{% endblock %}