{% extends "base.html" %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<style>
    .hidden {
        display:none;
    }
    .container{
        margin-top: 50px;
        text-align: center;
    }
    .heading1{
        padding-left: 80px;
        font-weight: bold;
        font-style: italic;
        padding-top: 40px;
        color: #A60000;
        margin-bottom: 20px;
        font-size: 60px;
    }
    .components{
        margin-left: 375px;
        width: 620px;
        text-align: center;
        background: #F7E4E4;
        padding: 60px;
        border-radius: 30px;
        font-size: 18px;
        margin-bottom: 90px;
    }
    .labels{
        font-weight: bold;
        font-size: 20px;
        padding-right: 5px;
    }
    .textboxes{
        border: none;
        margin-left: 10px;
        padding-left: 10px;
    }
    .button{
       margin-top: 50px;
       background-color: #B33A3A;
       border-radius: 100px;
       font-style: italic;
       color: white;
       padding: 8px 20px;
       border: none;
       font-size: 18px;
       width: 157px;
    }
    .button:hover{
        background-color: grey;
    }
    .button2{
       margin-top: 50px;
       background-color: #008E0E;
       border-radius: 100px;
       font-style: italic;
       color: white;
       padding: 8px 20px;
       border: none;
       font-size: 18px;
       width: 157px;
    }
    .button2:hover{
        background-color: grey;
    }
    .button3{
       margin-top: 40px;
       background-color: white;
       border-radius: 100px;
       font-style: italic;
       color: black;
       border: none;
       font-weight: bold;
       padding: 8px 20px;
       font-size: 18px;
       width: 157px;
    }
    .button3:hover{
        background-color: grey;
        color: white;
    }
</style>

<div class="container">
    <h1 class="heading1">{{ user.fullname }}'s Account</h1>
    <div class="components">
        <p><b class="labels">Full Name: </b> {{ user.fullname }}
            <input type="text" id="change-fullname" class="hidden textboxes" placeholder="New Fullname">
        </p>

        <p><b class="labels">Username:</b> {{ user.login.username }}
            <input type="text" id="change-username" class="hidden textboxes" placeholder="New Username">
        </p>

        <p><b class="labels">Role:</b> {{ user.role.name }}
            <select id="change-role" class="hidden textboxes">
                <option></option>
                {% for role in roles %}
                <option>{{ role.name }}</option>
                {% endfor %}
            </select>
        </p>

        <p><b class="labels">Phone Number:</b> {{ user.phone }}
            <input type="text" id="change-phone" class="hidden textboxes" placeholder="New Phone Number">
        </p>

        <p><b class="labels">Email:</b> {% if user.email %}{{ user.email }}{% else %}N/A{% endif%}
            <input type="text" id="change-email" class="hidden textboxes" placeholder="New Email">
        </p>

        <p><b class="labels">Birthday:</b> {{ user.get_birthday() }} ({{ user.get_age() }} y.o.)
            <input type="date" id="change-birthday" class="hidden textboxes" placeholder="New Birthdate">
        </p>
        <p><b class="labels">Date Created:</b> {{ user.get_date_created() }}</p>

        {% if current_user.id != user.id %}
        <button id="delete-account" class="button" style="margin-right: 20px;">Delete Account</button>
        {% endif %}
        <button id="edit-details" class="button2">Edit Details</button>

        <button id="save-changes" class="hidden button2">Save Changes</button>
        <div><button id="cancel-changes" class="hidden button3">Cancel</button></div>
    </div>
</div>



<script>
    $('#edit-details').on('click', function(){
        $(this).addClass('hidden')
        $("#change-fullname").removeClass('hidden')
        $("#change-username").removeClass('hidden')
        $("#change-role").removeClass('hidden')
        $("#change-phone").removeClass('hidden')
        $("#change-email").removeClass('hidden')
        $("#change-birthday").removeClass('hidden')
        $("#save-changes").removeClass('hidden')
        $("#cancel-changes").removeClass('hidden')
    })

    $("#save-changes").on('click', function(){
        fullname = $('#change-fullname').val()
        username = $('#change-username').val()
        role = $('#change-role').val()
        phone = $('#change-phone').val()
        email = $('#change-email').val()
        birthday = $('#change-birthday').val()

        if (confirm('Are you sure?')){
            var xml = new XMLHttpRequest()
            xml.open("POST", "{{ url_for('main.account_changes', user_id=user.id) }}", true)
            xml.setRequestHeader("Content-type","application/x-www-form-urlencoded");

            // Send changes
            changes = {
                "fullname" : fullname,
                "username" : username,
                "role" : role,
                "phone" : phone,
                "email" : email,
                "birthday" : birthday
            }
            xml.send(JSON.stringify(changes))

            // If successful
            xml.onload = function(){
                if (this.responseText == "success"){

                    // Reset everything
                    $("#change-fullname").val('')
                    $("#change-username").val('')
                    $("#change-role").val('')
                    $("#change-phone").val('')
                    $("#change-email").val('')
                    $("#change-birthday").val('')

                    // Inform the user
                    alert("Changes Successful")

                    // Refresh the page
                    location.reload()
                }else{
                    if (this.responseText){
                        alert(this.responseText)
                    }else{
                        alert("Changes Failed")
                    }
                }
            }
        }else{
            return
        }
    })

    $("#cancel-changes").on('click', function(){
        $("#change-fullname").val('')
        $("#change-username").val('')
        $("#change-role").val('')
        $("#change-phone").val('')
        $("#change-email").val('')
        $("#change-birthday").val('')

        $(this).addClass('hidden')
        $("#change-fullname").addClass('hidden')
        $("#change-username").addClass('hidden')
        $("#change-role").addClass('hidden')
        $("#change-phone").addClass('hidden')
        $("#change-email").addClass('hidden')
        $("#change-birthday").addClass('hidden')
        $("#save-changes").addClass('hidden')
        $("#edit-details").removeClass('hidden')
    })

    $("#delete-account").on('click', function(){
        if (confirm("Are you sure?")){
            window.location = "{{ url_for('main.delete_account', user_id=user.id) }}"
        }else{
            return
        }
    })
</script>

{% endblock %}