{% extends "base.html" %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<style>
    .hidden {
    display:none;
    }
</style>

<h1>Order</h1>

<label>Item: </label>
<select id="order-product">
    <option data-price=""></option>
    {% for product in products %}
    <option data-price="{{ product.price }}">{{ product.name }}</option>
    {% endfor %}
</select>
<label>Amount: </label><input type="text" id="order-quantity">
<button id="add-order">+</button>

<h1>Transaction</h1>

<label>Method of Payment</label><br>
<select id="payment-method">
    <option></option>
    {% for payment_method in payment_methods %}
    <option>{{ payment_method.name }}</option>
    {% endfor %}
</select>

<label class="gcash-ref-no hidden"><p>Reference no</p></label>
<p><input type="text" class="gcash-ref-no hidden"></p>

<label><b>Apply Senior Discount?</b></label><br>
<label>Senior Citizen Name</label>
<p><input type="text" id="senior-name"></p>
<label>ID No.</label>
<p><input type="text" id="senior-id"></p>

    <table>
        <thead>
        <tr>
            <th scope="col"></td>
            <th scope="col">Item</td>
            <th scope="col">No. of Orders</td>
            <th scope="col">Amount</td>
        </tr>
        </thead>
        <tbody id="transactions-table">

        </tbody>
    </table><br>

<button id="delete-products">Delete</button>
<button id="process-transactions">Process</button>

<h1>Processed Transactions</h1>
<p id="date-and-time"></p>
<script>

    // Date and time for transactions table.

    var dateAndTimeDisplay = document.getElementById("date-and-time")

    function refreshDateAndTime() {
        var date = new Date().toDateString("en-US", {timeZone: "Asia/Manila"})
        var time = new Date().toLocaleTimeString("en-US", {timeZone: "Asia/Manila"})
        dateAndTimeDisplay.innerHTML = "<b>Date: </b>".concat(date, " <b>Time:</b> ", time);
    }

    setInterval(refreshDateAndTime, 1000)

    // Transactions and orders

    var transaction = {'orders': orders, 'payment_method': null, 'discount': null, 'user': {{ current_user.id }}}
    var orders = []

    $('#payment-method').on('change', function(){
        if ($(this).find(":selected").text() == "GCash"){
            $('.gcash-ref-no').removeClass('hidden')
        }else{
            $('.gcash-ref-no').addClass('hidden')
        }
    })

    $('#delete-products').on('click', function(){
        // TODO
    })

    $('#process-transactions').on('click', function(){
        // TODO
    })

    var newId = 0
    var order = {'id': newId, 'product': null, 'quantity': null, 'total_price': null, 'price': null}

    $('#order-product').on('change', function(){
        order.product = $(this).val()
        order.price = parseFloat($(this).find(':selected').data('price')).toFixed(2)
        console.log(order)
    })

    $('#order-quantity').on('change', function(){
        order.quantity = parseInt($(this).val())
        console.log(order)
    })

    $('#add-order').on('click', function(){
        if(order.product == null){
            alert('No product selected')
        }else if (order.quantity == null){
            alert('Specify an number of orders')
        }else if (order.quantity <= 0){
            alert('Must be a whole number')
        }else{
            order.total_price = order.price * order.quantity
            addOrder(order)
            $('#order-product').val('')
            $('#order-quantity').val('')
            order.product = null
            order.quantity = null
            order.total_price = null
            order.price = null
        }
    })

    function addOrder(obj){
        orders.push(obj)
        newId += 1
        console.log(orders)
        var row = `<tr scope="row" class="transaction_table_row-${obj.id}">
                        <td >
                            <input type="checkbox" id="toggle-delete-${obj.id}">
                        </td>
                        <td id=order-${obj.id}>${obj.product}</td>
                        <td id="quantity-${obj.id}">${obj.quantity}</td>
                        <td id="total-price-${obj.id}">${obj.total_price}</td>
                   </tr>`
        $('#transactions-table').append(row)
    }

    function changeDeleteStatus(obj){
        pass
    }

</script>
{% endblock %}