{% extends "base.html" %}

{% block content %}

<h2>Transaction Details</h2>
<p><b>Transaction Date:</b> {{ transaction.get_date_and_time() }}</p>
<p><b>Total Amount Paid:</b> {{ transaction.get_total_amount_paid() }}</p>
<p><b>Recorded By:</b><a href="{{ url_for('account', user_id=transaction.user_id) }}"> {{ transaction.user.fullname }}</a></p>

{% if transaction.senior_citizen_name %}
<h2>Senior Citizen Discount Details</h2>
<p><b>Senior Citizen Name:</b> {{ transaction.senior_citizen_name }}</p>
<p><b>Senior Citizen ID:</b> {{ transaction.senior_citizen_id }}</p>
{% endif %}

{% if transaction.gcash_ref_no %}
<h2>GCash Transaction Details</h2>
<p><b>GCash Reference Number:</b> {{ transaction.gcash_ref_no }}</p>
{% endif %}

{% endblock %}